.center {
  position: relative;
  margin: auto;
}
.App {
  text-align: center;
}

body {
  margin: 10px;
}

button {
  margin-right: 5px;
  border-radius: 10px;
  background-color: cadetblue;
  color: white;
  border: none;
  cursor: pointer;
}
